In [1]:
import numpy as np
import pandas as pd

In [68]:
data = pd.read_csv('Mall_Customers_Enhanced.csv')

df = pd.DataFrame(data)
df.head()

,CustomerID,Gender,Age,Annual Income (k$),Spending Score (1-100),Age Group,Estimated Savings (k$),Credit Score,Loyalty Years,Preferred Category
0,1,Male,19,15,39,18-25,11.10,456,3,Budget
1,2,Male,21,15,81,18-25,6.90,300,6,Luxury
2,3,Female,20,16,6,18-25,15.36,594,2,Budget
3,4,Female,23,16,77,18-25,7.79,300,6,Luxury
4,5,Female,31,17,40,26-35,12.47,480,5,Budget

In [69]:
del df['CustomerID']
df.head()

,Gender,Age,Annual Income (k$),Spending Score (1-100),Age Group,Estimated Savings (k$),Credit Score,Loyalty Years,Preferred Category
0,Male,19,15,39,18-25,11.10,456,3,Budget
1,Male,21,15,81,18-25,6.90,300,6,Luxury
2,Female,20,16,6,18-25,15.36,594,2,Budget
3,Female,23,16,77,18-25,7.79,300,6,Luxury
4,Female,31,17,40,26-35,12.47,480,5,Budget

In [53]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 9 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Gender                  200 non-null    object
 1   Age                     200 non-null    int64
 2   Annual Income (k$)      200 non-null    int64
 3   Spending Score (1-100)  200 non-null    int64
 4   Age Group               196 non-null    object
 5   Estimated Savings (k$)  200 non-null    float64
 6   Credit Score            200 non-null    int64
 7   Loyalty Years           200 non-null    int64
 8   Preferred Category      200 non-null    object
dtypes: float64(1), int64(5), object(3)
memory usage: 14.2+ KB

In [13]:
from sklearn.preprocessing import StandardScaler, MinMaxScaler, LabelEncoder, OneHotEncoder

In [14]:
stdsc = StandardScaler()
Minmaxsc = MinMaxScaler()
le = LabelEncoder()
ohe = OneHotEncoder()

In [70]:
df.head(10)

,Gender,Age,Annual Income (k$),Spending Score (1-100),Age Group,Estimated Savings (k$),Credit Score,Loyalty Years,Preferred Category
0,Male,19,15,39,18-25,11.10,456,3,Budget
1,Male,21,15,81,18-25,6.90,300,6,Luxury
2,Female,20,16,6,18-25,15.36,594,2,Budget
3,Female,23,16,77,18-25,7.79,300,6,Luxury
4,Female,31,17,40,26-35,12.47,480,5,Budget
5,Female,22,17,76,18-25,8.39,300,6,Luxury
6,Female,35,18,6,26-35,17.28,682,3,Budget
7,Female,23,18,94,18-25,6.72,300,7,Luxury
8,Male,64,19,3,51-65,18.62,699,6,Budget
9,Female,30,19,72,26-35,9.88,354,6,Luxury

In [71]:
df['Preferred Category'] = le.fit_transform(df['Preferred Category'])
print(le.classes_) # gives seq of labels that are coverted to num 0,1,2...
df.head()

['Budget' 'Electronics' 'Fashion' 'Luxury']

,Gender,Age,Annual Income (k$),Spending Score (1-100),Age Group,Estimated Savings (k$),Credit Score,Loyalty Years,Preferred Category
0,Male,19,15,39,18-25,11.10,456,3,0
1,Male,21,15,81,18-25,6.90,300,6,3
2,Female,20,16,6,18-25,15.36,594,2,0
3,Female,23,16,77,18-25,7.79,300,6,3
4,Female,31,17,40,26-35,12.47,480,5,0

### Label Encoded Gender & Preferred Category

'Female' 'Male' --> 0, 1

'Budget' 'Electronics' 'Fashion' 'Luxury' --> 0, 1, 2, 3

In [72]:
del df['Age Group']
del df['Gender']
df.head(10)

,Age,Annual Income (k$),Spending Score (1-100),Estimated Savings (k$),Credit Score,Loyalty Years,Preferred Category
0,19,15,39,11.10,456,3,0
1,21,15,81,6.90,300,6,3
2,20,16,6,15.36,594,2,0
3,23,16,77,7.79,300,6,3
4,31,17,40,12.47,480,5,0
5,22,17,76,8.39,300,6,3
6,35,18,6,17.28,682,3,0
7,23,18,94,6.72,300,7,3
8,64,19,3,18.62,699,6,0
9,30,19,72,9.88,354,6,3

In [73]:
columns = [['Age','Annual Income (k$)','Spending Score (1-100)','Estimated Savings (k$)','Credit Score']]

for col in columns:
    df[col]=Minmaxsc.fit_transform(df[col])

In [74]:
df.head()

,Age,Annual Income (k$),Spending Score (1-100),Estimated Savings (k$),Credit Score,Loyalty Years,Preferred Category
0,0.019231,0.000000,0.387755,0.040666,0.283636,3,0
1,0.057692,0.000000,0.816327,0.003856,0.000000,6,3
2,0.038462,0.008197,0.051020,0.078002,0.534545,2,0
3,0.096154,0.008197,0.775510,0.011656,0.000000,6,3
4,0.250000,0.016393,0.397959,0.052673,0.327273,5,0

In [76]:
X = df.drop(columns=['Preferred Category','Loyalty Years'],axis =1 )
y = df['Preferred Category']

X.head()

,Age,Annual Income (k$),Spending Score (1-100),Estimated Savings (k$),Credit Score
0,0.019231,0.000000,0.387755,0.040666,0.283636
1,0.057692,0.000000,0.816327,0.003856,0.000000
2,0.038462,0.008197,0.051020,0.078002,0.534545
3,0.096154,0.008197,0.775510,0.011656,0.000000
4,0.250000,0.016393,0.397959,0.052673,0.327273

In [77]:
from sklearn.cluster import KMeans
from sklearn.metrics import silhouette_score

In [79]:
# to get value of K we compare using a loop

for k in range (2,11):
    km = KMeans(n_clusters=k,random_state=42)
    km.fit(X)
    labels = km.labels_
    sc = silhouette_score(X,labels)
    print(f'Value of K:{k}')
    print(f'Silhouette_score:{sc}')

Value of K:2
Silhouette_score:0.2858000220271253
Value of K:3
Silhouette_score:0.3425821802550405
Value of K:4
Silhouette_score:0.4130253810612898
Value of K:5
Silhouette_score:0.359177907890913
Value of K:6
Silhouette_score:0.3484236364462154
Value of K:7
Silhouette_score:0.3585063672418814
Value of K:8
Silhouette_score:0.36713482507986867
Value of K:9
Silhouette_score:0.3586554378043769
Value of K:10
Silhouette_score:0.33377560818463353

D:\Anaconda\Lib\site-packages\sklearn\cluster\_kmeans.py:1419: UserWarning: KMeans is known to have a memory leak on Windows with MKL, when there are less chunks than available threads. You can avoid it by setting the environment variable OMP_NUM_THREADS=1.
  warnings.warn(
D:\Anaconda\Lib\site-packages\sklearn\cluster\_kmeans.py:1419: UserWarning: KMeans is known to have a memory leak on Windows with MKL, when there are less chunks than available threads. You can avoid it by setting the environment variable OMP_NUM_THREADS=1.
  warnings.warn(
D:\Anaconda\Lib\site-packages\sklearn\cluster\_kmeans.py:1419: UserWarning: KMeans is known to have a memory leak on Windows with MKL, when there are less chunks than available threads. You can avoid it by setting the environment variable OMP_NUM_THREADS=1.
  warnings.warn(
D:\Anaconda\Lib\site-packages\sklearn\cluster\_kmeans.py:1419: UserWarning: KMeans is known to have a memory leak on Windows with MKL, when there are less chunks than available threads. You can avoid it by setting the environment variable OMP_NUM_THREADS=1.
  warnings.warn(
D:\Anaconda\Lib\site-packages\sklearn\cluster\_kmeans.py:1419: UserWarning: KMeans is known to have a memory leak on Windows with MKL, when there are less chunks than available threads. You can avoid it by setting the environment variable OMP_NUM_THREADS=1.
  warnings.warn(
D:\Anaconda\Lib\site-packages\sklearn\cluster\_kmeans.py:1419: UserWarning: KMeans is known to have a memory leak on Windows with MKL, when there are less chunks than available threads. You can avoid it by setting the environment variable OMP_NUM_THREADS=1.
  warnings.warn(
D:\Anaconda\Lib\site-packages\sklearn\cluster\_kmeans.py:1419: UserWarning: KMeans is known to have a memory leak on Windows with MKL, when there are less chunks than available threads. You can avoid it by setting the environment variable OMP_NUM_THREADS=1.
  warnings.warn(
D:\Anaconda\Lib\site-packages\sklearn\cluster\_kmeans.py:1419: UserWarning: KMeans is known to have a memory leak on Windows with MKL, when there are less chunks than available threads. You can avoid it by setting the environment variable OMP_NUM_THREADS=1.
  warnings.warn(
D:\Anaconda\Lib\site-packages\sklearn\cluster\_kmeans.py:1419: UserWarning: KMeans is known to have a memory leak on Windows with MKL, when there are less chunks than available threads. You can avoid it by setting the environment variable OMP_NUM_THREADS=1.
  warnings.warn(

### Through above we get K=4 is the best value

In [80]:
km = KMeans(n_clusters=4,random_state=42)

km.fit(X)

D:\Anaconda\Lib\site-packages\sklearn\cluster\_kmeans.py:1419: UserWarning: KMeans is known to have a memory leak on Windows with MKL, when there are less chunks than available threads. You can avoid it by setting the environment variable OMP_NUM_THREADS=1.
  warnings.warn(

KMeans(n_clusters=4, random_state=42)

In [81]:
labels = km.labels_

## Evaluation of Clustering

2 types of eval: External & Internal

Internal : does need true labels (true labels VS predicted)

External : doesn't need true labels

#### Internal

Silhouette Score - Measures how similar a point is to its own cluster vs other clusters (range -1 to 1)(1 is best).

#### External

Homogeneity Score - Checks if each cluster contains only members of a single class.

Completeness Score - Checks if all members of a class are assigned to the same cluster.

V-Measure - Harmonic mean of homogeneity and completeness.

Adjusted Mutual Information (AMI) - Measures shared information between predicted clusters and true labels.

Adjusted Rand Index (ARI) - Measures similarity between predicted clusters and true labels, adjusted for chance.

In [83]:
from sklearn.metrics import homogeneity_score, completeness_score, v_measure_score, adjusted_rand_score, adjusted_mutual_info_score

In [84]:
# EXTERNAL
homog = homogeneity_score(y,labels)
comp = completeness_score(y,labels)
vm = v_measure_score(y,labels)
adjr = adjusted_rand_score(y,labels)
adjm = adjusted_mutual_info_score(y,labels)

# INTERNAL
sil= silhouette_score(X,labels)

print(f'homogeneity_score:{homog}')
print(f'completeness_score:{comp}')
print(f'v_measure_score:{vm}')
print(f'adjusted_rand_score:{adjr}')
print(f'adjusted_mutual_info_score:{adjm}')
print(f'Silhouette Score:{sil}')

homogeneity_score:0.4107815635340433
completeness_score:0.4078886020625874
v_measure_score:0.4093299713221513
adjusted_rand_score:0.2915688374632627
adjusted_mutual_info_score:0.3987536538589514
Silhouette Score:0.4130253810612898

#### Above evaluation is bad result but this is for learning process